In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings 
warnings.filterwarnings('ignore')

In this task we will use the Same code for scaping review and rating of diffrent products available on flipkart.

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page 
url = "https://www.flipkart.com/apple-macbook-air-m1-8-gb-256-gb-ssd-mac-os-big-sur-mgn63hn-a/product-reviews/itmde54f026889ce?pid=COMFXEKMGNHZYFH9&lid=LSTCOMFXEKMGNHZYFH9EOWT4E&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [3]:
Review1=[]
Rating1= []

review1=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review1:
        
    Review1.append(i.text)
              
rating1=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating1:
        
    Rating1.append(j.text)

In [7]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [8]:
start=0
end=49

for page in range(start,end):
    review1=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review1:
        Review1.append(j.text)
    rating1=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating1:                             
        Rating1.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [11]:
Laptop1=pd.DataFrame({})
Laptop1["Review"]= Review1
Laptop1["Rating"]= Rating1

Laptop1

                                                Review Rating
0    A bit expensive when we compare with today's i...      4
1    Fantastic value for money machine!! Absolute b...      5
2    The best you can get, looks and performance bo...      5
3    Ultimate machine, best laptop I have ever used...      5
4    For everyone, who is planning to buy MBA M1-\n...      5
..                                                 ...    ...
407                                       Awesome!!!!!      5
408  Best tech from Apple. Thank you Flipkart for o...      5
409  Nothing much to say as it is a macbook. M1 pro...      5
410  Not like other company apple give best results...      5
411                      Beautiful and gorgeous Device      5

[412 rows x 2 columns]

Now Scrap another laptop2 review

In [12]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/acer-aspire-7-core-i5-10th-gen-8-gb-512-gb-ssd-windows-10-home-4-graphics-nvidia-geforce-gtx-1650-a715-75g-50ta-a715-75g-41g-gaming-laptop/product-reviews/itmc97c3da5d2abe?pid=COMG2KBG2K4GFFF7&lid=LSTCOMG2KBG2K4GFFF78YBPHO&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [13]:
Review2=[]
Rating2= []

review2=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review2:
        
    Review2.append(i.text)
              
rating2=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating2:
        
    Rating2.append(j.text)

In [14]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [16]:
start=0
end=50

for page in range(start,end):
    review2=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review2:
        Review2.append(j.text)
    rating2=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating2:                             
        Rating2.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [19]:
Laptop2=pd.DataFrame({})
Laptop2["Review"]= Review2
Laptop2["Rating"]= Rating2

Laptop2

                                                Review Rating
0    Here is my review on this laptop after using f...      5
1    Good Product, I am satisfied all of the featur...      5
2    Performance is good as I expect in this price ...      5
3    Amazing laptop. It has a premium and professio...      5
4    So basically, laptop is well and good. But the...      3
..                                                 ...    ...
485             This laptop is best for money product.      5
486  Best and high performance laptop in this price...      5
487                                         Realy good      4
488                                    Graphic is okok      4
489       Amazing product as mentioned in description.      5

[490 rows x 2 columns]

Now Scrap another laptop review

In [20]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/acer-aspire-7-ryzen-5-hexa-core-5500u-8-gb-512-gb-ssd-windows-10-home-4-graphics-nvidia-geforce-gtx-1650-a715-42g-gaming-laptop/product-reviews/itm4385fddc2c72c?pid=COMGYCG8ZBXWPYUU&lid=LSTCOMGYCG8ZBXWPYUUYQDSM8&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [21]:
Review3=[]
Rating3= []

review3=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review3:
        
    Review3.append(i.text)
              
rating3=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating3:
        
    Rating3.append(j.text)

In [23]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [31]:
start=0
end=22

for page in range(start,end):
    review3=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review3:
        Review3.append(j.text)
    rating3=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating3:                             
        Rating3.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [35]:
Laptop3=pd.DataFrame({})
Laptop3["Review"]= Review3
Laptop3["Rating"]= Rating3

Laptop3

                                                Review Rating
0    Fast as lightning\nSsd port is single\nRam por...      5
1    I was eyeing for this laptop since its announc...      5
2    Review after 5 days usage..\nSearching for off...      5
3    And what a lappy! In the beginning I was skept...      5
4    First things first, Its the only laptop with s...      4
..                                                 ...    ...
295  charger are heating will laptop is in charging...      4
296  Everything is good but the battery... Backup i...      4
297                                            Awesome      5
298                                               Nice      4
299                                               Good      4

[300 rows x 2 columns]

Scraping review for Washing machine

In [36]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url="https://www.flipkart.com/lg-8-kg-5-star-fully-automatic-front-load-in-built-heater-silver/product-reviews/itm9819566f26d93?pid=WMNFTPBYNHVZH6MW&lid=LSTWMNFTPBYNHVZH6MWOC7XYV&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [37]:
Review4=[]
Rating4= []

review4=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review4:
        
    Review4.append(i.text)
              
rating4=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating4:
        
    Rating4.append(j.text)

In [39]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [45]:
start=0
end=145

for page in range(start,end):
    review4=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review4:
        Review4.append(j.text)
    rating4=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating4:                             
        Rating4.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [48]:
Wash1=pd.DataFrame({})
Wash1["Review"]= Review4[0:1500]
Wash1["Rating"]= Rating4[0:1500]

Wash1

                                                 Review Rating
0     I am feeling very happy to get the right produ...      5
1     the machine is great. LG in itself is a must h...      4
2     The washing machine works very good actually. ...      5
3     Great product in the price range. we have been...      4
4     Got dis in two days after order. And got insta...      5
...                                                 ...    ...
1495  value for money. thanks to flipkart for your s...      5
1496                                               good      5
1497                                               nice      5
1498                                               Good      4
1499  Nice machine in this range...Flipkart service ...      4

[1500 rows x 2 columns]

Scraping washing2

In [49]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url="https://www.flipkart.com/bosch-8-kg-inverter-touch-control-fully-automatic-front-load-in-built-heater-white/product-reviews/itm18a592d07d5e8?pid=WMNFZBM8BPEEYKGU&lid=LSTWMNFZBM8BPEEYKGUVXPXQH&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [50]:
Review5=[]
Rating5= []

review5=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review5:
        
    Review5.append(i.text)
              
rating5=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating5:
        
    Rating5.append(j.text)

In [51]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [53]:
start=0
end=120

for page in range(start,end):
    review5=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review5:
        Review5.append(j.text)
    rating5=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating5:                             
        Rating5.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [57]:
Wash2=pd.DataFrame({})
Wash2["Review"]= Review5
Wash2["Rating"]= Rating5

Wash2

                                                 Review Rating
0     No more arguments used 2 IFB washing machines ...      4
1     Hi,\nI have recently purchased this washing ma...      5
2     We are happy to buy this Bosch 7 kg washing ma...      5
3     The Best Birthday Gift for my Mom\nI think it'...      5
4     This machine provides excellent wash quality, ...      5
...                                                 ...    ...
1212                                          Go for it      4
1213         Best Product Quality of washing is awesome      4
1214  Really a nice one... Good packing and have giv...      4
1215  Very good product and satisfying...shipping is...      5
1216  Awesome... Don't wait just take it... One of t...      5

[1217 rows x 2 columns]

In [80]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/ifb-6-kg-5-star-aqua-energie-laundry-add-tub-clean-fully-automatic-front-load-in-built-heater-white/product-reviews/itmehpcrfmzed87b?pid=WMNEHPCR5BJHXPRT&lid=LSTWMNEHPCR5BJHXPRTTAVXAI&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [81]:
Review6= []
Rating6= []

review6=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review6:
        
    Review6.append(i.text)
              
rating6=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating6:
        
    Rating6.append(j.text)

In [83]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [84]:
start=0
end=200

for page in range(start,end):
    review6=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review6:
        Review6.append(j.text)
    rating6=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating6:                             
        Rating6.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [87]:
Wash3=pd.DataFrame({})
Wash3["Review"]= Review6
Wash3["Rating"]= Rating6

Wash3

                                                 Review Rating
0     First of all Thanks to flipkart for amazing se...      5
1     Nice product and we will get same product whic...      5
2     First to start with the brand...being IFB is a...      3
3     We are using this machine for last 3 months. V...      5
4     Don't buy products like this., They will compe...      1
...                                                 ...    ...
2005                              Best for small family      5
2006     Their is no drain pipe in this washing machine      3
2007  Worst service,,, it's almost a month ,, don't ...      2
2008                                 Go for it fabulous      5
2009  Washing quality is very very poor even after a...      1

[2010 rows x 2 columns]

Scraping Another details

In [88]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/ambrane-10000-mah-power-bank-12-w-fast-charging/product-reviews/itmfgysrrxhrggnv?pid=PWBFGYHFCUTJGUQD&lid=LSTPWBFGYHFCUTJGUQDQ2UNFT&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [89]:
Review7= []
Rating7= []

review7=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review7:
        
    Review7.append(i.text)
              
rating7=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating7:
        
    Rating7.append(j.text)

In [91]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [93]:
start=0
end=200

for page in range(start,end):
    review7=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review7:
        Review7.append(j.text)
    rating7=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating7:                             
        Rating7.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [96]:
Wash4=pd.DataFrame({})
Wash4["Review"]= Review7
Wash4["Rating"]= Rating7

Wash4

                                                 Review Rating
0     Value for money. Good Product. Indian brand. T...      4
1     1 month of use review )- my phone battery capa...      5
2     Its worth it to buy this Powerbank.\nBetter ch...      5
3     very good powerbank for the price.\n\nperforma...      5
4     Awesome Product with 2.1A FAST CHARGING ðŸ‘Œcomes...      5
...                                                 ...    ...
1816                       very slow charging ðŸ˜‘ useless      1
1817                                       Good product      5
1818                                                 Ok      3
1819                                           Not nice      2
1820                                        Tq flipkart      5

[1821 rows x 2 columns]

Another thing

In [97]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/mi-10000-mah-power-bank-22-5-w-fast-charging/product-reviews/itm5ee8345d6a413?pid=PWBGYH7W2HKTB5MU&lid=LSTPWBGYH7W2HKTB5MUPNRO5Z&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [98]:
Review8= []
Rating8= []

review8=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review8:
        
    Review8.append(i.text)
              
rating8=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating8:
        
    Rating8.append(j.text)

In [100]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [104]:
start=0
end=62

for page in range(start,end):
    review8=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review8:
        Review8.append(j.text)
    rating8=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating8:                             
        Rating8.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [108]:
Wash5=pd.DataFrame({})
Wash5["Review"]= Review8[0:500]
Wash5["Rating"]= Rating8[0:500]

Wash5

                                                Review Rating
0    Lite weight and easy to carry pocket, Size arr...      5
1    ( Review after 5 month ):-This is a good power...      4
2    Perrfect and good amazing product the Flipkart...      5
3    Best power bank available right now.. fast cha...      5
4    It is good but price is very high. It also has...      4
..                                                 ...    ...
495                                       GOOD DPROUCT      5
496                                               Good      5
497  Best pocket power bank in Market, it could be ...      5
498                                              Owesm      5
499                                       Good product      5

[500 rows x 2 columns]

In [109]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/flipkart-smartbuy-10000-mah-power-bank-18-w-quick-charge-3-0-delivery-2-0/product-reviews/itm65fdc62428af9?pid=PWBGFJMT8U8XHHFY&lid=LSTPWBGFJMT8U8XHHFYEF9GL8&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [110]:
Review9= []
Rating9= []

review9=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review9:
        
    Review9.append(i.text)
              
rating9=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating9:
        
    Rating9.append(j.text)

In [111]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [112]:
start=0
end=14

for page in range(start,end):
    review9=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review9:
        Review9.append(j.text)
    rating9=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating9:                             
        Rating9.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [114]:
Wash6=pd.DataFrame({})
Wash6["Review"]= Review9
Wash6["Rating"]= Rating9

Wash6

                                                Review Rating
0    Nice power bank good fast&normal charging mode...      4
1    Power is very good. It is support fast chargin...      3
2    This product worked for 2days then stopped... ...      1
3                      Good product and good quality ðŸ‘Œ      4
4                            Not working after 15 days      1
..                                                 ...    ...
145                                          Very Good      4
146                    Very very good and nice product      5
147                                 Not at all working      1
148                                       Good product      5
149                                        Superb bank      5

[150 rows x 2 columns]

In [115]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/canon-eos-1500d-dslr-camera-body-18-55-mm-ii-lens/product-reviews/itm033175ceb4ddd?pid=DLLFAEWE22ZAERXG&lid=LSTDLLFAEWE22ZAERXGWBJCOR&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [116]:
Review10= []
Rating10= []

review10=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review10:
        
    Review10.append(i.text)
              
rating10=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating10:
        
    Rating10.append(j.text)

In [118]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [124]:
start=0
end=156

for page in range(start,end):
    review10=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review10:
        Review10.append(j.text)
    rating10=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating10:                             
        Rating10.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [126]:
Cam=pd.DataFrame({})
Cam["Review"]= Review10
Cam["Rating"]= Rating10

Cam

                                                 Review Rating
0     Best Camera For the Beginners... Totally Loved...      4
1     I am reviewing this product after two years of...      5
2     Awesome product for someone like me who likes ...      5
3     This is my first Canon eos 1500d Camera and I'...      5
4     Excellent product packaging that comes with fa...      5
...                                                 ...    ...
1625                                            perfect      5
1626                                          Go for it      5
1627  Very bad service from flipkart the package doe...      1
1628                                               Nice      5
1629                        Excellent For Beginners ...      4

[1630 rows x 2 columns]

In [127]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/canon-eos-3000d-dslr-camera-1-body-18-55-mm-lens/product-reviews/itm6f665fea97bc2?pid=CAMF3DHJURPEMNRN&lid=LSTCAMF3DHJURPEMNRNYD4BKP&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [129]:
Review11= []
Rating11= []

review11=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review11:
        
    Review11.append(i.text)
              
rating11=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating11:
        
    Rating11.append(j.text)

In [131]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [136]:
start=0
end=243

for page in range(start,end):
    review11=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review11:
        Review11.append(j.text)
    rating11=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating11:                             
        Rating11.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [138]:
Cam1=pd.DataFrame({})
Cam1["Review"]= Review11[0:2500]
Cam1["Rating"]= Rating11[0:2500]

Cam1

                                                 Review Rating
0     Well Reviewing this after using for almost one...      5
1     The camera simply awesome..and it is a best bu...      4
2     product really great . I am totally sctified t...      5
3     Worth more than the amount. Best DSLR for a go...      5
4     Satisfied with the product.. Its a really good...      3
...                                                 ...    ...
2495  for new start its a great experience... i like...      3
2496                         average. dont expect much.      5
2497  camera is good for beginners. But clarity of t...      4
2498                                  In 1 word awasome      4
2499  so nice camera.... I'm so happy after purchase...      4

[2500 rows x 2 columns]

In [146]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/whirlpool-1-5-ton-5-star-split-inverter-ac-white/product-reviews/itmf8fb8a675505d?pid=ACNFU3XZGH3MDEWP&lid=LSTACNFU3XZGH3MDEWPN0JQZ2&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [147]:
Review12= []
Rating12= []

review12=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review12:
        
    Review12.append(i.text)
              
rating12=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating12:
        
    Rating12.append(j.text)

In [149]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [157]:
start=0
end=254

for page in range(start,end):
    review12=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review12:
        Review12.append(j.text)
        
    rating12=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating12:                             
        Rating12.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [159]:
AC=pd.DataFrame({})
AC["Review"]= Review12[0:2500]
AC["Rating"]= Rating12[0:2500]

AC

                                                 Review Rating
0     Honestly this product is amazing. I did lot of...      5
1     Excellent Customer Support at Kerala , Deliver...      5
2     First of all I want to tell you is that i live...      5
3     Amazing AC works like charm , fast cooling and...      5
4     It's Very early to say about performance as it...      5
...                                                 ...    ...
2495  Excellent product with this price range, after...      4
2496  Best AC with this price. Everything is ok. But...      5
2497  Awesome split inverter AC in this price and co...      5
2498                      nice product.Value for money.      5
2499                                       working good      5

[2500 rows x 2 columns]

In [160]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/samsung-80-cm-32-inch-hd-ready-led-smart-tv/product-reviews/itm6e40262f4572a?pid=TVSFQXFKMHUDYCJ3&lid=LSTTVSFQXFKMHUDYCJ3IOJXHJ&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [161]:
Review13= []
Rating13= []

review13=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review13:
        
    Review13.append(i.text)
              
rating13=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating13:
        
    Rating13.append(j.text)

In [162]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [169]:
start=0
end=419

for page in range(start,end):
    review13=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review13:
        Review13.append(j.text)
        
    rating13=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating13:                             
        Rating13.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [172]:
TV=pd.DataFrame({})
TV["Review"]= Review13[0:4250]
TV["Rating"]= Rating13[0:4250]

TV

                                                 Review Rating
0     Very Good Picture Quality with a decent sound ...      5
1     Nice one at this price good Samsung ðŸ™ðŸ™ðŸ™ðŸ™\nMy f...      5
2     After watching 3-4 days on this led tv.. I fou...      5
3     Wow!!! I am very surprised about it. It is ver...      5
4     Really awesome tv best quality very good sound...      5
...                                                 ...    ...
4245                                              Super      5
4246        very good product. picture quality is good.      4
4247                            Value for money product      5
4248  The product is as per my expectations so far.T...      5
4249                                            Nice tv      5

[4250 rows x 2 columns]

In [180]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/shayona-creation-sweet-trimmer-runtime-30-min-women/product-reviews/itme0390c50aed14?pid=TMRFJ7QAWSSD6YHN&lid=LSTTMRFJ7QAWSSD6YHNQCSQFB&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [181]:
Review14= []
Rating14= []

review14=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review14:
        
    Review14.append(i.text)
              
rating14=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating14:
        
    Rating14.append(j.text)

In [182]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [184]:
start=0
end=58

for page in range(start,end):
    review14=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review14:
        Review14.append(j.text)
        
    rating14=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating14:                             
        Rating14.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [185]:
Trim=pd.DataFrame({})
Trim["Review"]= Review14
Trim["Rating"]= Rating14

Trim

                                                Review Rating
0    Well I received this product in extremely good...      5
1                                                Super      5
2                                                 Nice      5
3    Happy with the product,works well\nRemember to...      3
4                           Excellent product,so happy      5
..                                                 ...    ...
574                                           Very bad      2
575                                               Nice      3
576                                 Just ok ok chalega      3
577              No batteriesvery use full i like itðŸ‘ŒðŸ‘Œ      5
578                                    Not as expected      1

[579 rows x 2 columns]

In [186]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/bigfun-37-key-piano-keybt-kids-black/product-reviews/itmfgqnczza68yth?pid=MTYFGQJRUPHYH2W2&lid=LSTMTYFGQJRUPHYH2W2URFZTT&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [187]:
Review15= []
Rating15= []

review15=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review15:
        
    Review15.append(i.text)
              
rating15=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating15:
        
    Rating15.append(j.text)

In [189]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [194]:
start=0
end=65

for page in range(start,end):
    review15=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review15:
        Review15.append(j.text)
        
    rating15=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating15:                             
        Rating15.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [196]:
Pio=pd.DataFrame({})
Pio["Review"]= Review15[0:600]
Pio["Rating"]= Rating15[0:600]

Pio

                                                Review Rating
0                                   nice but too small      1
1                                      bad speakers...      1
2    Very bad product. One speaker stopped working ...      1
3                          This product is not working      1
4                                   Very bad condition      1
..                                                 ...    ...
595                                      Good purchase      3
596                          good but Mick is so small      3
597  Product is good ...Mic volume is slow...and pr...      3
598                                 Superb. Satisfied.      3
599  Not pretty good. But just OK. Charging cable n...      3

[600 rows x 2 columns]

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening flipcart review page
url="https://www.flipkart.com/honor-7a-black-32-gb/product-reviews/itmf3t8c3bunbspx?pid=MOBF3T87KDNMX3GF&lid=LSTMOBF3T87KDNMX3GFEA9WIK&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page=1"
driver.get(url)
time.sleep(2)

driver.maximize_window()
time.sleep(2)

In [3]:
Review16= []
Rating16= []

review16=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review16:
        
    Review16.append(i.text)
              
rating16=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating16:
        
    Rating16.append(j.text)

In [5]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [10]:
start=0
end=1

for page in range(start,end):
    review16=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review16:
        Review16.append(j.text)
        
    rating16=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating16:                             
        Rating16.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [11]:
Mob=pd.DataFrame({})
Mob["Review"]= Review16
Mob["Rating"]= Rating16

Mob

                                                 Review Rating
0     they don't provide return and refund policy fo...      1
1     third class camera. camera pics look like 2mp ...      1
2     Jio4gvoice not supporting as well as default d...      1
3     worst product I ever had...\ndual camera is on...      1
4     please better go for good brands!!worst brand ...      1
...                                                 ...    ...
5095                          Good Mobile in this range      3
5096                                               good      3
5097  Camera low light conditions ðŸ˜¥\nface id and fin...      3
5098                          camera quality is average      3
5099             nice phone in 8999 but camera not good      3

[5100 rows x 2 columns]

In [12]:
Mob.to_csv('Review2_data.csv')

In [197]:
Data_List=[Laptop1,Laptop2, Laptop3, Wash1, Wash2, Wash3, Wash4, Wash5, Wash6, Cam, Cam1, AC, TV, Trim, Pio]

In [198]:
final_data=pd.concat(Data_List,ignore_index=True)

In [199]:
final_data

                                                  Review Rating
0      A bit expensive when we compare with today's i...      4
1      Fantastic value for money machine!! Absolute b...      5
2      The best you can get, looks and performance bo...      5
3      Ultimate machine, best laptop I have ever used...      5
4      For everyone, who is planning to buy MBA M1-\n...      5
...                                                  ...    ...
20454                                      Good purchase      3
20455                          good but Mick is so small      3
20456  Product is good ...Mic volume is slow...and pr...      3
20457                                 Superb. Satisfied.      3
20458  Not pretty good. But just OK. Charging cable n...      3

[20459 rows x 2 columns]

In [200]:
final_data.to_csv('Review_data.csv')

In [201]:
pd.read_csv('Review_data.csv')

       Unnamed: 0                                             Review  Rating
0               0  A bit expensive when we compare with today's i...       4
1               1  Fantastic value for money machine!! Absolute b...       5
2               2  The best you can get, looks and performance bo...       5
3               3  Ultimate machine, best laptop I have ever used...       5
4               4  For everyone, who is planning to buy MBA M1-\n...       5
...           ...                                                ...     ...
20454       20454                                      Good purchase       3
20455       20455                          good but Mick is so small       3
20456       20456  Product is good ...Mic volume is slow...and pr...       3
20457       20457                                 Superb. Satisfied.       3
20458       20458  Not pretty good. But just OK. Charging cable n...       3

[20459 rows x 3 columns]